<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Detalle</title>
</head>
<body>
<div style="display: flex">
    <div style="width: 50%">
        <a style="height: 3rem; font-size: 3rem" href="/">Home</a>
    </div>
    <div style="width: 50%">
        <a style="font-size: 3rem; height: 3rem;" href="/listar">Listar resumen detalle</a>
    </div>
</div>

    <form style="width: 100%">
<!--        Datos generales-->
        <div style="text-align: center; border: black; font-size: 22px; height: 2rem">
            Dato generales del atleta
        </div>
        <table style="width: 100%">
            <tr style="background-color: tan; height: 2rem">
                <th>primer nombre</th>
                <th>segundo nombre</th>
                <th>primer apellido</th>
                <th>segundo apellido</th>
                <th>sexo</th>
                <th>fecha nacimiento</th>
            </tr>
            <tr style="height: 1.5rem">
                <td th:text="${atleta.primerNombre}"></td>
                <td th:text="${atleta.segundoNombre}"></td>
                <td th:text="${atleta.primerApellido}"></td>
                <td th:text="${atleta.segundoApellido}"></td>
                <td th:text="${atleta.sexo}"></td>
                <td th:text="${atleta.fechaNacimiento}"></td>
            </tr>
        </table>
<!--        Correos, teléfonos y deportes-->
        <div style="display: flex">
<!--            Detalle correos-->
            <div style="width: 34%; border: 1px solid gray">
                <div style="text-align: center; font-size: 22px; height: 2rem">correos</div>
                <table style="width: 100%">
                    <tr style="background-color: tan; height: 2rem">
                        <th>consecutivo</th>
                        <th>correo</th>
                        <th>acción</th>
                    </tr>
                    <tr style="height: 1.5rem" th:each="correo, custStat: ${atleta.correos}">
                        <td th:text="${custStat.count}"></td>
                        <td th:text="${correo.mail}"></td>
                        <td>
                            <a th:href="@{/updateCorreo/{id}(id = ${correo.idCorreo})}">Actualizar</a>
                        </td>
                    </tr>
                </table>
            </div>
<!--            Detalle telefonos-->
            <div style="width: 33%; border: 1px solid gray">
                <div style="text-align: center; font-size: 22px; height: 2rem">teléfono</div>
                <table style="width: 100%">
                    <tr style="background-color: tan; height: 2rem">
                        <th>consecutivo</th>
                        <th>número</th>
                        <th>acción</th>
                    </tr>
                    <tr style="height: 1.5rem" th:each="telefono, custStat: ${atleta.telefonos}">
                        <td th:text="${custStat.count}"></td>
                        <td th:text="${telefono.numero}"></td>
                        <td>
                            <a th:href="@{/updateTelefono/{id}(id = ${telefono.idTelefono})}">Actualizar</a>
                        </td>
                    </tr>
                </table>
            </div>
<!--            Detalle deportes-->
            <div style="width: 33%; border: 1px solid gray">
                <div style="text-align: center; font-size: 22px; height: 2rem">deporte</div>
                <table style="width: 100%">
                    <tr style="background-color: tan; height: 2rem">
                        <th>consecutivo</th>
                        <th>número</th>
                    </tr>
                    <tr style="height: 1.5rem" th:each="deporte, custStat: ${atleta.deportes}">
                        <td th:text="${custStat.count}"></td>
                        <td th:text="${deporte.nombreDeporte}"></td>
                    </tr>
                </table>
            </div>
        </div>
<!--        Direcciones-->
        <div>
            <div style="text-align: center; font-size: 22px; height: 2rem">Dirección</div>
            <table style="width: 100%; ">
                <tr style="background-color: tan">
                    <th>consecutivo</th>
                    <th>provincia</th>
                    <th>cantón</th>
                    <th>distrito</th>
                    <th>otras señas</th>
                    <th>acción</th>
                </tr>
                <tr th:each="adress, custStat: ${atleta.direcciones}">
                    <td th:text="${custStat.count}"></td>
                    <td th:text="${adress.provincia}"></td>
                    <td th:text="${adress.canton}"></td>
                    <td th:text="${adress.distrito}"></td>
                    <td th:text="${adress.directionExacta}"></td>
                    <td>
                        <a th:href="@{/updateDireccion/{id}(id = ${adress.idDireccion})}">Actualizar</a>
                    </td>
                </tr>
            </table>
        </div>
<!--        Indice de masa muscular-->
        <div>
            <div style="text-align: center; font-size: 22px; height: 2rem">Indice de masa muscular</div>
            <table style="width: 100%">
                <tr style="background-color: tan">
                    <th>consecutivo</th>
                    <th>peso</th>
                    <th>estatura</th>
                    <th>IMC</th>
                    <th>fecha de cálculo</th>
                    <th>acción</th>
                </tr>
                <tr th:each="imc, custStat: ${atleta.indicesMasaMuscular}">
                    <td th:text="${custStat.count}"></td>
                    <td th:text="${imc.peso}"></td>
                    <td th:text="${imc.estatura}"></td>
                    <td th:text="${imc.getIMC()}"></td>
                    <td th:text="${imc.fechaCalculo}"></td>
                    <td>
                        <a th:href="@{/updateIMC/{id}(id = ${imc.idIMC})}">Actualizar peso</a>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>