<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Atletas</title>
</head>
<body>
<div>
    <a href="/">Home</a>
</div>
<div>
    <h1>Lista de atletas</h1>
    <ul>
        <div th:each="atleta: ${atletas}">
            <li>
                <div>
                    <div>
                        <h4>
                            <span th:text="${atleta.primerNombre}">primer nombre</span>
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <span th:text="${atleta.segundoNombre}">segundo nombre</span>
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <span th:text="${atleta.primerApellido}">primer apellido</span>
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <span th:text="${atleta.segundoApellido}">segundo apellido</span>
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <span th:text="${atleta.fechaNacimiento}">fecha de nacimiento</span>
                        </h4>
                    </div>
                </div>
                <div>
                    <div>
                        Cantidad de direcciones de correo: <span th:text="${atleta.correos.size()}">0</span>
                        <a th:href="@{/agregarCorreo/{id}(id = ${atleta.idAtleta})}">Agregar correo</a>
                    </div>
                    <div th:each="correo: ${atleta.correos}">
                        <span th:text="${correo.mail}" >correo</span>
                    </div>
                </div>
                <div>
                    <div>
                        Cantidad de números de teléfonos:
                        <span th:text="${atleta.telefonos.size()}">0</span>
                        <a th:href="@{/agregarTelefono/{id}(id = ${atleta.idAtleta})}">Agregar teléfono</a>
                    </div>
                    <div th:each="telefono: ${atleta.telefonos}">
                        <span th:text="${telefono.numero}" >teléfono</span>
                    </div>
                </div>
                <div>
                    <div>
                        Cantidad de cálculos del índice de masa muscular:
                        <span th:text="${atleta.indicesMasaMuscular.size()}">0</span>
                        <a th:href="@{/agregarIMC/{id}(id = ${atleta.idAtleta})}">Agregar IMC</a>
                    </div>
                    <div th:each="imc: ${atleta.indicesMasaMuscular}">
                        <div>
                            <span th:text="${imc.estatura}" >estatura</span>
                        </div>
                        <div>
                            <span th:text="${imc.peso}" >peso</span>
                        </div>
                        <div>
                            <span th:text="${imc.IMC}" >IMC</span>
                        </div>
                        <div>
                            <span th:text="${imc.fechaCalculo}" >fecha</span>
                        </div>

                    </div>
                </div>
                <div>
                    <div>
                        Cantidad de deportes:
                        <span th:text="${atleta.deportes.size()}">0</span>
                        <a th:href="@{/agregarDeporte/{id}(id = ${atleta.idAtleta})}">Agregar deporte</a>
                    </div>
                    <div th:each="deporte: ${atleta.deportes}">
                        <div>
                            <span th:text="${deporte.nombreDeporte}" >deporte</span>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>

</body>
</html>