<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Atletas</title>
</head>
<body>
<div>
    <a href="/">Home</a>
</div>
<div>
    <h1>Lista de atletas</h1>
    <ul>
        <div th:each="atleta: ${atletas}">
            <li>
                <div>
                    <div>
                        <h4>
                            <span th:text="${atleta.primerNombre}">primer nombre</span>
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <span th:text="${atleta.segundoNombre}">segundo nombre</span>
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <span th:text="${atleta.primerApellido}">primer apellido</span>
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <span th:text="${atleta.segundoApellido}">segundo apellido</span>
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <span th:text="${atleta.fechaNacimiento}">fecha de nacimiento</span>
                        </h4>
                    </div>
                </div>
                <div>
                    <div>
                        Cantidad de direcciones de correo: <span th:text="${atleta.correos.size()}">0</span>
                        <a th:href="@{/agregarCorreo/{id}(id = ${atleta.idAtleta})}">Agregar correo</a>
                    </div>
                    <div th:each="correo: ${atleta.correos}">
                        <span th:text="${correo.mail}" >correo</span>
                    </div>
                </div>
                <div>
                    <div>
                        Cantidad de números de teléfonos: <span th:text="${atleta.telefonos.size()}">0</span>
                        <a th:href="@{/agregarTelefono/{id}(id = ${atleta.idAtleta})}">Agregar teléfono</a>
                    </div>
                    <div th:each="telefono: ${atleta.telefonos}">
                        <span th:text="${telefono.numero}" >teléfono</span>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>

</body>
</html>