<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"></meta>
<!--    <link rel="stylesheet" media="all" th:href="@{../static/style.css}" />-->
    <title>Atletas</title>
</head>
<body>
    <div>
        <a style="height: 3rem; font-size: 3rem" href="/">Home</a>
    </div>
    <div style="text-align: center; border: black; background-color: gray; font-size: 22px; height: 2rem">Resumen información atletas</div>
    <table style="width: 100%">
        <tr style="background-color: tan; height: 2rem">
            <th>consecutivo</th>
            <th>primer nombre</th>
            <th>segundo nombre</th>
            <th>primer apellido</th>
            <th>segundo apellido</th>
            <th>sexo</th>
            <th>fecha nacimiento</th>
            <th>detalle</th>
        </tr>
        <tr style="height: 1.5rem" th:each="atleta, custStat: ${atletas}">
            <td th:text="${custStat.count}"></td>
            <td th:text="${atleta.primerNombre}"></td>
            <td th:text="${atleta.segundoNombre}"></td>
            <td th:text="${atleta.primerApellido}"></td>
            <td th:text="${atleta.segundoApellido}"></td>
            <td th:text="${atleta.sexo}"></td>
            <td th:text="${atleta.fechaNacimiento}"></td>
            <td > <a th:href="@{/cargarDetalle/{id}(id = ${atleta.idAtleta})}">Ver Detalle</a> </td>
        </tr>
    </table>
</body>
</html>